<script server>
  let serverError = null
  if (request.method === 'POST') {
    try {
      signOut()
      redirect(`/`)
    } catch (e) {
      serverError = e.message
    }
  }
</script>

<% if (serverError) { %>
<div class="alert alert-error mb-4"><%= serverError %></div>
<% } %>

<form method="post" class="p-6 max-w-sm mx-auto space-y-4">
  <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4">

    <legend class="fieldset-legend">Logout</legend>

    <p class="text-sm text-gray-500 mb-4">Are you sure you want to logout?</p>

    <button class="btn btn-neutral mt-4">Logout</button>
  </fieldset>
</form>