<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>PocketBase PocketPages Starter</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="<%=asset('/assets/css/app.css')%>" rel="stylesheet" />
  <script src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
</head>

<body>
  <header class="navbar bg-base-100 shadow-sm">
    <div class="flex-1">
      <a href="/" class="btn btn-ghost normal-case text-xl">PocketPages</a>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
        <li><a href="/_">PB</a></li>
        <% if (auth) { %>
          <li>
            <details>
              <summary>Account</summary>
              <ul class="bg-base-100 rounded-t-none p-2">
                <li><a href="/account/change-email">Change Email</a></li>
                <li><a href="/account/change-password">Change Password</a></li>
                <li><a href="/account/logout">Logout</a></li>
              </ul>
            </details>
          </li>          
        <% } else { %>
          <li><a href="/auth/login">Login</a></li>
          <li><a href="/auth/register">Register</a></li>
        <% } %>
      </ul>
    </div>
  </header>
  <main class="container mx-auto p-4">

      <% if(params.__flash) { %>
        <div data-testid="flashContainer" class="alert alert-info shadow-sm mb-4"><%= params.__flash %></div>
      <% } %>

    <%- slot %>
  </main>
  <script src="https://unpkg.com/pocketbase/dist/pocketbase.umd.js"></script>
  <script>
    const pb = new PocketBase(window.location.origin)
    console.log({
      pb
    })
  </script>

</body>

</html>