<h3 class="text-2xl font-bold mb-6"><%= auth.get('email') %>'s Account</h3>

<div class="card bg-base-100 shadow-md p-6 max-w-sm mx-auto space-y-4">

  <ul>
    <li><a href="/account/change-password">Change Password</a></li>
    <li><a href="/account/change-email">Change Email</a></li>
  </ul>

</form>