<script server>

  const Ajv = require("ajv");
  const ajv = new Ajv({ allErrors: true });
  const addFormats = require("ajv-formats")
  addFormats(ajv)
  require("ajv-errors")(ajv);

  const {
    validateFormWithSchema,
    handlePocketbaseError
  } = resolve('form-helpers');

  // ajv schema for login
  const loginSchema = {
    type: 'object',
    required: ['identity'],
    properties: {
      identity: {
        type: 'string',
        format: 'email',
      },
    },
    errorMessage: {
      type: 'Invalid data type',
      required: {
        identity: 'Email is required',
      },
      properties: {
        identity: 'Invalid email address',
      }
    },
    additionalProperties: false
  };

  let serverError = null
  let fieldErrors = {}
  let parsedFormData = {}

  if (request.method === 'POST') {

    parsedFormData = formData();

    const validation = validateFormWithSchema(parsedFormData, loginSchema, ajv, dbg);
    if (!validation.valid) {
      fieldErrors = validation.fieldErrors;
      serverError = validation.serverError;
    } else {
      try {
        pb().collection('users').requestPasswordReset(parsedFormData.identity);
        redirect(`/`, {
          message: 'Password reset email sent, please check your inbox.',
        })
      } catch (e) {
        const handled = handlePocketbaseError(e, dbg);
        fieldErrors = handled.fieldErrors;
        serverError = handled.serverError;
      }
    }
  }
</script>

  <form method="post" action="/auth/forgot" class="p-6 max-w-sm mx-auto">
    <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4">      

      <%- include('server-error', { serverError }) %>

      <legend class="fieldset-legend">Forgot Password</legend>

      <label class="label">Email</label>
      <input 
        name="identity" 
        value="<%= parsedFormData.identity %>" 
        type="email"
        class="validator input<%= fieldErrors && fieldErrors.identity ? ' input-error' : '' %>" 
        placeholder="Email"
        required="required" />
      <%- include('field-error', { fieldName: "identity", fieldErrors }) %>
      <div class="validator-hint">Enter valid email address</div>

      <button type="submit" class="btn btn-neutral mt-4">Reset Password</button>
    </fieldset>
  </form>